# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore


# Dependency directories
node_modules/

# Optional npm cache directory
.npm
npm-debug.log

# dotenv environment variables file
.env
.log
log.txt


package-lock.json